.header {
  background: white;
  border-bottom: 1px solid #ececec;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 8px rgb(0 0 0 / 5%);
}

.wrapper {
  margin: auto;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.logo {
  margin: 0;
  font-size: 22px;
  font-weight: 700;
  color: #000000;
}